<div class="content-box">
  <div class="main-content">
    <div class="d-flex col-gap-1">
      <div class="ip-container">
        <input class="ip" type="file" (change)="onChange($event)" [(ngModel)]="selectedFile" accept="image/*" />
      </div>
      <div class="ip-container">
        <input
          class="ip"
          type="text"
          placeholder="Enter Image name..."
          [(ngModel)]="image_name"
        />
      </div>
      <button class="btn" (click)="addImage()">ADD</button>
    </div>
    <div class="img-container">
      @for(item of imageData;track $index){
      <div>
        <div
          class="box"
          [style.background-image]="'url(' + item['image'] + ')'"
        ></div>
        <div class="d-flex justify-center align-center col-gap-1 logo">
          <i
            class="fa-solid fa-magnifying-glass"
            style="color: #74c0fc"
            (click)="zoomImage(item['image'])"
          ></i>
          <a [href]="item['image']" [download]="item['img_name']">
            <i class="fa-solid fa-download" style="color: #63e6be"></i>
          </a>
          <i
            class="fa-solid fa-trash"
            style="color: #ed333b"
            (click)="delImage(item['_id'])"
          ></i>
        </div>
      </div>
      }
    </div>
  </div>
 
</div>

@if(isResponse){
<div class="alert open">
  <p>{{ response }}</p>
</div>
} 
@if(isZoom){
<div class="pos-absolute container blur">
  <i
    class="fa-regular fa-circle-xmark xl"
    style="color: #ed333b"
    (click)="isZoom = false;display_image = ''"
  ></i>
  <div class="holder">
    <img [src]="display_image" alt="" />
  </div>
</div>
}
