.img-container {
 margin-top: 1rem;
 width: auto;
 height: auto;
 display: flex;
 row-gap: 1rem;
 column-gap: 1rem;
 padding: 1rem;
 flex-wrap: wrap;
 img {
  width: 7rem;
  height: 7rem;
  border: 0.2rem solid rgb(83, 179, 235);
  border-radius: 0.5rem;
 }
}

.box {
 width: 7rem;
 height: 7rem;
 border: 0.2rem solid rgb(83, 179, 235);
 border-radius: 0.5rem;
 background-position: center;
 background-size: contain;
 background-repeat: no-repeat;
 background-size: cover;
}

.content-box {
 padding: 1rem;
 width: auto;
 height: auto;
}