<div class="header">
    <div class="m-l-1 d-flex">
        <i class="fa-regular fa-id-badge large" style="color: #B197FC;"></i>
        <p>{{username}}</p>
    </div>
    <div>
        <h1>Gallery</h1>
    </div>
    <div class="m-r-1">
        <i class="fa-solid fa-right-from-bracket large" style="color: #B197FC;" (click)="logout()"></i>
    </div>
</div>
<div class="d-flex">

    <div class="menu">
        
    </div>
    <div class="content p-1">
        <app-content></app-content>
    </div>
</div>
